.friendsHeader {
  margin-top: 34px;
  margin-left: 30px;
}
.friendsList > div {
  border: 2px;
  border-style: solid;
  border-color: #000;
  height: 98px;
  margin: 5px;
  margin-top: 0px;
  position: relative;
  top: 0px;
  left: 0px;
  cursor: pointer;
}
.friendsList > div:hover {
  background-color: #ededed;
}
.friendsList .photo {
  height: 90px;
  width: 135px;
  margin-top: 8px;
  float: left;
}
.friendsList .photo > img {
  height: 90px;
  border-top-right-radius: 15px;
}
.friendsList p {
  float: left;
  font-size: 120%;
  margin: 0px;
  position: absolute;
  top: 55px;
}
.friendsList p.name {
  left: 176px;
}
@media (max-width: 990px) {
  .friendsList p.name {
    top: 12px;
  }
}
@media (max-width: 576px) {
  .friendsList p.name {
    top: 5px;
    left: 146px;
  }
}
.friendsList p.status {
  left: 380px;
}
@media (max-width: 990px) {
  .friendsList p.status {
    top: 12px;
  }
}
@media (max-width: 576px) {
  .friendsList p.status {
    top: 30px;
    left: 146px;
    font-size: 90%;
  }
}
.friendsList p.adress {
  left: 590px;
}
@media (max-width: 990px) {
  .friendsList p.adress {
    top: 62px;
    left: 176px;
  }
}
@media (max-width: 576px) {
  .friendsList p.adress {
    top: 77px;
    left: 146px;
    font-size: 90%;
  }
}
.friendsList div.trash {
  float: right;
  overflow: hidden;
  width: 60px;
  height: 56px;
  margin-top: 20px;
  margin-right: 10px;
}
.friendsList div.trash:hover {
  background-color: #808080;
}
.friendsList div.trash > img {
  height: 70px;
  position: relative;
  left: -320px;
  top: -6px;
}
