#LBNavBar
	height 40px
	border 2px
	border-left 0px
	border-right 0px
	border-style: solid
	border-color black
	background-color #C9C9C9

.navItem
	float left
	overflow hidden
	height 30px
	width 30px
	margin 5px
	cursor pointer

.goForward > img
	position relative
	left -36px

.clear > img
	position relative
	left -70px

.home > img
	position relative
	left -99px

#LBNavBar .searchField
	overflow hidden
	margin 5px
	margin-left 12px
	padding-right 10px

#LBNavBar .searchField > input
	height 24px
	border 2px
	border-style: solid
	border-color black
	border-radius 5px
	width 100%

#LBNavBar .searchButton
	float right
	width 62px
	height 30px
	margin 5px
	overflow hidden
	cursor pointer

#LBNavBar .searchButton > img
	position relative
	left -178px