MEDIUM_WIDTH_BREAKPOINT = 990px

.profile > .imageWrapper > img
	height 450px
	@media (max-width: 675px)
		height 400px
	@media (max-width: 602px)
		height 340px
	@media (max-width: 500px)
		height 280px
	@media (max-width: 411px)
		height 254px

.profile > .imageWrapper
	width 675px
	float left
	@media (max-width: MEDIUM_WIDTH_BREAKPOINT)
		float none
	@media (max-width: 675px)
		width 0px

.profile p
	font-size 140%
	margin-left 20px

.profile > p.status
	@media (min-width: MEDIUM_WIDTH_BREAKPOINT+1)
		position absolute
		top 539px
		left 675px
		margin-left 0px

.profile > p.bio
	@media (min-width: MEDIUM_WIDTH_BREAKPOINT+1)
		position absolute
		top 573px
