.userConfirmBackGround
	div.container(ng-controller="mvUserConfirmCtrl")
		p Are you sure you want to get rid of your friend {{messageData.name}} ?
		button.cancel(ng-click="cancel();") No
		button.confirm(ng-click="confirm();") Yes